<h2>Welcome to the Chat</h2>
<input type="text" name="message" id="message" placeholder="Type and chat">
<div>
    <span id="allMessages">aca se van a renderizar dinamicamente todos los mensajes</span>
</div>
<div>
    Last messages
    <span id="nickname"></span>
</div>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/chat.scripts.js"></script>