<h1>Login</h1>

<section>
    <form>
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button>Iniciar sesión</button>
    </form>
</section>