<h1>Products</h1>
<section>
    <article>
        <h2>Products form</h2>
        <form>
            <input type="title" name="title" id="title" placeholder="TITLE">
            <input type="publisher" name="publisher" id="publisher" placeholder="PUBLISHER">
            <input type="category" name="category" id="category" placeholder="CATEGORY">
            <input type="price" name="price" id="price" placeholder="PRICE">
            <input type="stock" name="stock" id="stock" placeholder="STOCK">
            <input type="url" name="photo" id="photo" placeholder="PHOTO">
            <input type="button" value="create" id="create">
        </form>
    </article>
    <article id="products"></article>
</section>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on("products", data => {
        console.log(data)
        let template = ``
        template = data.map(each => `
            <div class="Container container-fluid ">
                <figure class="figure">
                    <img style="width: 253px; height: 351px" class="img-fluid rounded" src="${each.photo}" alt="${each.id}" />
                    <figcaption class="editorial figure-caption">${each.publisher}</figcaption>
                    <figcaption class="titulo figure-caption">${each.title}</figcaption>
                    <figcaption class="precio figure-caption">${each.price}</figcaption>
                </figure>
            </div>`
        ).join("")
        document.querySelector("#products").innerHTML = template
    })

    document.querySelector("#create").addEventListener("click", (event) => {
        const title = document.querySelector("#title").value
        const publisher = document.querySelector("#publisher").value
        const category = document.querySelector("#category").value
        const price = document.querySelector("#price").value
        const stock = document.querySelector("#stock").value
        const photo = document.querySelector("#photo").value
        socket.emit("create", {title, publisher, category, price, stock, photo})
    })
</script>