<main class="d-flex w-100 flex-grow-1">
  <section class="container-fluid">
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">PROFILE</h1>
      <figure class="figure">
        <img style="width: 318px; height: 159px" class="figure-img img-fluid rounded" src="{{profile.photo}}" alt="{{profile.email}}" />
        <figcaption class="figure-caption text-center">Email: {{profile.email}}</figcaption>
        <figcaption class="figure-caption text-center">Age: {{profile.age}}</figcaption>
      </figure>
  </section>
</main>
